---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import TeaserGrid from "../components/TeaserGrid.astro";

const pageTitle = "OCRE MAP";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Introduction</h2>
    <p>
        Das Projekt 'Ochre Map' verknüpft Themen aus den Bereichen Physik in Theorie und Anwendung, Archäologie, Archäometrie und Kunstgeschichte, in Form dieser interaktiven Plattform miteinander. Wir haben Ocker, ein Erdpigment, das die Menschen seit Jahrtausenden begleitet, etwas näher betrachtet. Die Relevanz dieser Pigmente spiegelt sich auch in ihrer Funktion als eine der frühesten symbolischen Kommunikationstechniken wider, die seit Höhlenmalereien zehntausende Jahre überdauerte. Auch in zeitgenössischen Forschungsgebieten hat es weiterhin seine Relevanz und verbindet die neuesten Forschungs-Technologien mit dem menschlichen symbolischen und künstlerischen Ausdruck. 
        Ausgangspunkt des Projekts war der Artikel “Old Traces, read anew – ‘The Reading Hermit'", in dem Methoden aus der Physik und Materialforschung angewandt werden, um ein ca. 400 Jahre altes Gemälde etwas genauer zu untersuchen. Dabei versucht die Forschung die Frage eines Sammlers, ob dieses Gemälde tatsächlich vom alten Meister Rembrandt angefertigt wurde, zu beantworten. 
        In dem interaktiv gestalteten Projekt machen wir die Verbindungen zwischen dem Pigment als Erde, als Geschichte, als Technologie für symbolische Kommunikation und der modernen Untersuchungen mit Röntgenstrahlung sichtbar. 
    </p>
    &nbsp;
    &nbsp;
    <TeaserGrid />
</BaseLayout>

<style>
    .text {
        width: 100%;
        max-width: 1200px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-600);
        padding: 14vh 0;
    }
</style>
