---
import Button from "./Button.astro";
---



<div class="button-box">
    <Button text = 'back' url = '/'/>
    <Button text = 'next' url = '/'/>
</div>

<style>


.button-box {
        flex-direction: row;
        align-items: center;
        display: flex;
        padding: 0px 0px;
        width: 100%;
        height: 80px;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
    }

    @media screen and (max-width: 1000px) {
    .footer {
        padding: 0px 32px;
        }
    }
    @media screen and (max-width: 600px) {
        .footer {
        padding: 0px 12px;
        }
    }

</style>
