---

---

<div class="footer" style="text-align: center;">
    <p> <a href="/about" class="about">about</a>
        | Visit us at <a href="https://project-sci.com/" class="sci-com">project-sci.com</a> and <a href="https://xstageproject.com/" class="xstage">xstageproject.com</a>
    </p>
    <p style="font-size: var(--font-size-200);">The content on this website was created by students. No claim is made as to the completeness and accuracy of the content presented. </p>
</div>

<style>
.footer {
        flex-direction: row;
        align-items: stretch;
        display: flex;
        padding: 48px 48px;
        width: 100%;
        height: 80px;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
}
    .sci-com {
        font-size: var(--font-size-300);
        font-weight: var(--font-weight-regular);
        font-family: var(--font-family-headline); 
        text-align: center;
        text-decoration: none;
    }

    .xstage {
        font-size: var(--font-size-300);
        font-weight: var(--font-weight-regular);
        font-family: var(--font-family-headline); 
        text-align: center;
        text-decoration: none;
    }

    .about {
        font-size: var(--font-size-300)x;
        font-weight: var(--font-weight-regular);
        font-family: var(--font-family-headline); 
        color: black;
        text-align: center;
        text-decoration: none;
    }

    .impressum {
        font-size: var(--font-size-300)x;
        font-weight: var(--font-weight-regular);
        font-family: var(--font-family-headline); 
        color: black;
        text-align: center;
        text-decoration: none;
    }

    @media screen and (max-width: 1000px) {
    .header {
        padding: 48px 32px;
        }
    }
    @media screen and (max-width: 600px) {
        .header {
        padding: 48px 12px;
        }
    }
</style>
